

.carousel .carousel-one-div {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}


.carousel .carousel-one-div:first-child {
    margin-left: 0;
}
.carousel .carousel-one-div:last-child {
    margin-right: 0;
}

.carousel .carousel-one-div .file-image {
    width: 350px !important;
    height: 220px !important;
    border: 1px solid black;
}

.carousel .file-name i {
    cursor: pointer;
    margin-top: 5px;
}

.carousel .file-name {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel .images-div {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 20px;
}

.carousel .div-btns {
    position: relative;
    display: flex;
    justify-content: space-between;
}


.carousel .btn-danger,
.carousel .btn-secondary,
.carousel .btn-block {
    margin-top: 10px;
}

.carousel .btn-danger,
.carousel .btn-secondary {
    width: 48%;
}

.number-image {
    display: block;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    padding-left: 10px;
    z-index: 10;
    font-size: 18px;
    font-weight: 600;
}
