
.content-wrapper .add_btn {
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 10px;
}

.btn_back {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

.btn_back i {
    font-size: 40px;
}

.dataTables_filter {
    margin-right: 10px;
    margin-top: 8px;
}

#dataTable_wrapper tbody td {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}


.dataTables_info {
    padding-left: 10px !important;
}

.dataTables_paginate {
    padding-right: 5px !important;
    margin-bottom: 5px !important;
}



/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #8b8bec;
    border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4a4aa5;
}



/** users **/

.add-user-btn {
    position: absolute;
    top: 10px;
    left: 1%;
    z-index: 100;
}

/** user-actions at modal **/

.user-actions .huquqlar-checkbox {
    height: 370px;
    overflow-y: scroll;
}


.user-actions input, .user-actions label {
    cursor: pointer;
}

.back-btn-icon {
    color: #0D6AAD;
    font-size: 40px;
    position: absolute;
    top: 60px;
    padding-top: 0;
    margin-top: 0;
}

.table_hover tr:hover {
    background: #c2c2cceb !important;
}

/** user add task modal check tasks **/

.check_div {
    overflow-y: scroll;
    height: 370px;
}

.task-name-label:hover {
    color: #049cd6;
    cursor: pointer;
}

/** report **/
.report-form {
    position: absolute;
    top: 8px;
    left: 1%;
    z-index: 100;
    display: flex;
}

.report-form select {
    border-color: #838282;
}


.text-justifiy {
    text-align: justify;
}


.last-hr {
    border-top: 0;
    border-bottom: 1px solid gray;
}


::-webkit-file-upload-button {
    margin-top: -1%;
    margin-right: 3%;
    border-radius: 6px;
    border-color: transparent;
    transition: 0.3s ease-in-out;
    background-color: #d6d6d6;
}

::-webkit-file-upload-button:hover {
    background-color: darkgrey;
}


.new-image {
    width: 110px !important;
    height: 130px !important;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
}

.f-s-12 {
    font-size: 12px;
}

.f-s-15 {
    font-size: 15px;
}

.paginate-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
    margin-right: 10px;
}

.jqte_tool.jqte_tool_1 .jqte_tool_label {
    height: 26px;
}

.js_div_form .jqte {
    margin: 5px 0 0 0;
}


.product .btn-primary {
    background: #2717b7;
}

.product .btn:hover {
    background: #2717b7;
}
